<nav class="navbar navbar-expand-lg navbar-custom navbar-dark bg-dark">
  <div class="container-fluid">
     <%= link_to 'The Blog', root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
                <% if user_signed_in?  %> # add cancan method here
                    <li class="nav-item">
                        <%= link_to "Editar Perfil", edit_user_registration_path, class:"navbar-brand" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sair", destroy_user_session_path, method: :delete, class:"navbar-brand" %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to "Cadastrar-se", new_user_registration_path, class:"navbar-brand" %>
                    </li>

                    <li class="nav-item">
                        <%= link_to "Entrar", new_user_session_path, class:"navbar-brand" %>
                    </li>
                <% end %>
      </ul>
      
                <%= link_to 'Novo Post', new_post_path, class:"btn btn-outline-light" %>
    </div>
  </div>
</nav>